/*FONTS*/
$font: 'Roboto', sans-serif;

/*FONT WEIGHT*/


/*COLORS*/
$color-dark: rgb(32,34,37);
$color-accent: rgb(49,50,56);
$color-light: rgb(54,57,63);
$color-green: rgb(59,165,93);
$color-gray: rgb(54,57,63);