/*FONTS*/
/*COLORS*/
/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

.flex {
  display: flex;
}

body {
  background-color: rgb(54, 57, 63);
}

* {
  font-family: "Roboto", sans-serif;
}

.server-button:before {
  font-size: 14px;
  font-weight: 600;
}

.large-button {
  font-size: 15px;
  font-weight: 500;
}
.large-button span {
  color: white;
}

.direct-messages-title {
  color: rgb(150, 152, 157);
  font-size: 14px;
  font-weight: 600;
}

.main-container {
  display: flex;
}

.servers-nav-container {
  flex-direction: column;
  background-color: rgb(32, 34, 37);
  width: 70px;
  height: 100vh;
}
.servers-nav-container .server-button {
  width: 75%;
  aspect-ratio: 1;
  margin: 5px auto;
  border-radius: 50%;
  background-color: rgb(54, 57, 63);
  border: none;
  transition: background-color 0.25s, border-radius 0.25s;
  position: relative;
}
.servers-nav-container .server-button .server-button-image {
  width: 45%;
}
.servers-nav-container .server-button .discord-button-image {
  width: 65%;
}
.servers-nav-container .server-button:before {
  content: attr(data-text);
  position: absolute;
  /* vertically center */
  top: 50%;
  transform: translateY(-50%);
  /* move to right */
  left: 100%;
  margin-left: 15px;
  /* and add a small left margin */
  /* basic styles */
  padding: 10px;
  border-radius: 10px;
  background: #000;
  color: rgb(230, 230, 230);
  text-align: center;
  /*Stay on one Line */
  overflow: hidden;
  white-space: nowrap;
  display: none;
  /* hide by default */
}
.servers-nav-container .server-button:after {
  content: "";
  position: absolute;
  /* position tooltip correctly */
  left: 100%;
  margin-left: -5px;
  /* vertically center */
  top: 50%;
  transform: translateY(-50%);
  /* the arrow */
  border: 10px solid #000;
  border-color: transparent black transparent transparent;
  display: none;
  transition: 1s ease-in-out;
}
.servers-nav-container .server-button:hover:before, .servers-nav-container .server-button:hover:after {
  display: block;
}
.servers-nav-container .server-button:hover {
  border-radius: 15px;
  background-color: rgb(59, 165, 93);
}
.servers-nav-container .line-break {
  width: 40%;
  height: 2px;
  background-color: rgb(54, 57, 63);
  border: none;
}

.friends-container {
  width: 240px;
  height: 100vh;
  padding: 0.6rem;
  background-color: rgb(49, 50, 56);
}

.friend-search-button {
  width: 100%;
  height: 1.75rem;
  border: none;
  border-radius: 5px;
  padding: 5px;
  text-align: left;
  color: rgb(150, 152, 157);
  background-color: rgb(32, 34, 37);
}

.line-break-header {
  position: fixed;
  margin-left: -15px;
  width: 100%;
  height: 1px;
  background-color: rgb(32, 34, 37);
  border: none;
}

.friend-container-buttons {
  margin-top: 20px;
  margin-bottom: 10px;
}

.large-button-container {
  width: 100%;
}
.large-button-container .large-button {
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: 8px;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
  background-color: transparent;
}
.large-button-container .large-button .button-img {
  width: 20px;
  margin: auto;
  margin-left: 5px;
}
.large-button-container .large-button span {
  color: rgb(150, 152, 157);
  width: 85%;
  align-self: center;
  text-align: left;
  margin-left: 5px;
  padding-left: 10px;
}
.large-button-container .large-button-active {
  background-color: rgb(66, 70, 77);
}
.large-button-container .large-button-active span {
  color: white;
}

.direct-messages-button-container {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.direct-messages-title {
  padding-left: 5px;
}

.small-button {
  background-color: transparent;
  border: none;
}
.small-button .small-button-image {
  width: 12px;
}/*# sourceMappingURL=main.css.map */